@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  width: 100%;
}

body{
  font-family: 'Abel', sans-serif;
  color: #fff;
  background-image: url(images/background-page.svg);
}

header{
  right: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 50px 0;
  background-color: rgba(0, 0, 0, .1);

}

.nav-links{
  list-style: none;
}

.nav-links li{
  font-size: 1.5rem;
  display: inline-block;
  margin-right: 50px;
  margin-left: -35px;
  color: white;
  text-decoration: none;
}

.nav-links li a{
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
  color: #0088a9;
}

.nav-contact{
  margin-left: 50px;
}

#title{
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 3px;
}

.notif{
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
}

.main-text{
  text-align: center;
  margin: auto;
  margin-top: 3%;
  font-size: 24px;
  font-weight: bold;
}

form input{
  display: block;
  width: 300px;
  padding: 20px;
  background-color: #252627;
  border: 3px solid #0088a9;
  margin: 20px 0;
  outline: none;
  font-size: 1.2rem;
  color: #fff;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

form input:last-child{
  width: 150px;
  background-color: #0088a9;
  border: none;
  cursor: pointer;
}

.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  justify-content: center;

}

footer{
  margin-top: 83px;
  padding: 38.5px 0;
}

.social-media{
  margin: 20px 0;
  text-align: center;
  margin-left: 25px;
  margin-top: 40px;
}

.social-media a{
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
  color: white;
}

.social-media a:hover{
  color: #0088a9;
}

.center-content h1{
  font-size: 26px;
  text-align: center;
}

.border{
  width: 100px;
  height: 4px;
  background: #fff;
  margin-top: 8px;
  margin-left: 55px;
}

button{
  margin-right: 1500px;
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: rgba(0,136,169,0.8);
}

button.active{
  color: #fff;
}

li, a, button{
  font-family: "Abel", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
